<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="widget">
        <!-- Widget title -->
        <div class="widget-head">
          <div class="pull-left">Edit Your Account</div>
          <div class="clearfix"></div>
        </div>
        <div class="widget-content">
          <!-- Widget content -->
          <div class="padd">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, :class => 'form-horizontal' }) do |f| %>
              <%= devise_error_messages! %>

              <div class="form-group">
                <label class="col-lg-2 control-label"><%= f.label :email %></label>
                <div class="col-lg-5">
                  <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "user@domain.com" %>
                </div>
              </div>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>

              <div class="form-group">
                <label class="col-lg-2 control-label"><%= f.label :password %></label>
                <div class="col-lg-5">
                  <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "(leave blank if you don't want to change it)" %>
                  <% if @minimum_password_length %>
                    <em><%= @minimum_password_length %> characters minimum</em>
                  <% end %>
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-2 control-label"><%= f.label :password_confirmation %></label>
                <div class="col-lg-5">
                  <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-2 control-label"><%= f.label :current_password %> <i></i></label>
                <div class="col-lg-5">
                  <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "(need your current password to confirm the changes)" %>
                </div>
              </div>

              <div class="form-group">
                <div class="col-lg-offset-2 col-lg-6">
                  <%= f.submit class: "btn btn-sm btn-primary", value: "Update" %>
                </div>
              </div>
            <% end %>
          </div>
          <!-- Widget footer -->
          <div class="widget-foot">
            <p><%= link_to "I want to delete my account", registration_path(resource_name), data: { confirm: "This will delete your account and everything associated with it. Are you sure?" }, method: :delete %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

