<div class="container">
  <div class="row">
    <div class="col-md-7">
      <!-- Widget -->
      <div class="widget">
        <!-- Widget title -->
        <div class="widget-head">
          <div class="pull-left">Add A Hub</div>
          <div class="clearfix"></div>
        </div>
        <div class="widget-content">
          <!-- Widget content -->
          <div class="padd">
            <% if @hub.errors.any? || current_user.errors.any? %>
              <div class="alert alert-warning">
                <strong>Error!</strong><br/>
                <ul>
                  <% if @hub.errors.any? && current_user.errors.any? %>
                    <% @hub.errors.messages.each do |message| %>
                      <li><%= message.last.last.html_safe %><br/></li>
                    <% end %>
                  <% else %>
                    <% current_user.errors.messages.each do |message| %>
                      <li><%= message.last.last.html_safe %><br/></li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <%= form_for @hub, html: {class: "form-horizontal"} do |f| %>
              <div class="form-group">
                <label class="col-lg-2 control-label">Description</label>
                <div class="col-lg-6">
                  <%= f.text_field :nick, autofocus: true, class: "form-control", placeholder: "Living Room Hub", :autocomplete => :off %>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 control-label">MAC Address</label>
                <div class="col-lg-6">
                  <%= f.text_field :mac, class: "form-control", placeholder: "FF:AA:BB:CC:DD:EE", :autocomplete => :off %>
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-offset-2 col-lg-6">
                  <%= f.submit "Add Hub", class: "btn btn-sm btn-primary" %>
                </div>
              </div>
            <% end %>
          </div>
          <!-- Widget footer -->
          <div class="widget-foot">
            <p>Users can currently add up to 5 hubs. If you need additional hubs, please <%= link_to "contact me", :controller => :contact, :action => :index %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <!-- Widget -->
      <div class="widget">
        <!-- Widget title -->
        <div class="widget-head">
          <div class="pull-left">Your Hubs</div>
          <div class="clearfix"></div>
        </div>
        <div class="widget-content">
          <!-- Widget content -->
          <div class="padd">
            <% if flash[:error] %>
              <div class="alert alert-warning">
                <strong>Error!</strong><br/>
                <%= flash[:error] %>
              </div>
            <% end %>
            <% if flash[:success] %>
              <div class="alert alert-success">
                <strong>Success!</strong><br/>
                <%= flash[:success] %>
              </div>
            <% end %>
            <% if @hubs.count > 0 %>
              <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                  <col width="10">
                  <col>
                  <col>
                  <col width="50">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Description</th>
                    <th>MAC Address</th>
                    <th>Status</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                    <% @hubs.find_each.with_index do |hub, index| %>
                      <tr>
                        <td><%= index+1 %></td>
                        <td><%= hub.nick.html_safe %></td>
                        <td><%= hub.mac.html_safe %></td>
                        <td>
                          <% if hub.heartbeat == nil %>
                            <span class="label label-default">Never connected</span>
                          <% elsif Time.now() > (hub.heartbeat + 600) %>
                            <span class="label label-warning">Disconnected</span>
                          <% else %>
                            <span class="label label-success">Connected</i></span>
                          <% end %>
                        </td>
                        <td><% if policy(hub).destroy? %><%= link_to hub, method: :delete, data: { confirm: "Are you sure you want to delete this hub?" } do %><span class="label label-danger">Delete</span><% end %><% end %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            <% else %>
              <i>You have not added any hubs.</i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>         
</div>